body {
  text-align:center; 
  color:#000; 
  font-family:georgia, serif; 
  font-size:120%; 
  line-height:1.6;
  margin:0; 
  padding:2em 2em 5em; 
  background:rgb(253, 253, 253);
  margin:auto;
  max-width:47em;
  color:rgb(10, 10, 10);
}

table { width: 100%; border-collapse: collapse; margin: 2em 0; }
table > thead > tr:first-child > th { border-top: 2px solid black; }
table > thead > tr:last-child > th { border-bottom: 1px solid black; }
table > tbody > tr:last-child > td { border-bottom: 2px solid black; }

a {outline:none !important; font-weight:bold; text-decoration:none;}
a:link {color:#337ab7;}
a:visited {color:#337ab7;}
a:focus,a:hover {color:#23527c;}
a:active {color:#23527c; outline:none;}

h1 {
  font-size:200%;
  line-height:1.35;
  font-style:italic;
  margin:1.5em 0 0.8em;
  font-weight:normal;
}

h2 {
  font-weight:bold;
  font-size:150%;
  margin:1em 0 0.8em;
}

h3 {
  font-weight:normal;
  text-transform:uppercase;
  font-size:120%;
  letter-spacing:0.15em;
  margin:1.75em 0 0.8em;
}

h4 {
  font-weight:normal;
  font-size:120%;
  letter-spacing:0.1em;
  margin:1.5em 0 0.8em;
}

h5 {
  font-weight:normal;
  font-style:italic;
  font-size:120%;
  margin:1.5em 0 0.8em;
}

h6 {
  font-weight:bold;
  font-size:100%;
  letter-spacing:0.1em;
  margin:1.5em 0 0.8em;
}

p {
  text-align:justify;
  font-size:100%;
  margin:1em 0 0;
}

p.lead {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size:120%;
  margin:1em 0;
  margin:auto;
  padding: 1em 0;
}

p + p {
  margin:0;
  text-indent:1.5em;
}

p + ul, p + ol, p + dl {margin-bottom:1.5em;}
p.lead + p {
  text-indent:0;
}

blockquote {border-left:5px solid #eee; padding-left:1.5em; margin:1em 0;}
blockquote small {display:block; line-height:1.7em;}
ul, ol, dl {
  text-align:left;
}

dt {font-weight:bold;}
code {font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 80%;}
code.block {background:#eee; border-radius: 0.25em; display: block; margin: 0.5em 0; padding: 0.25em 0.5em;}
pre {text-align:left; font-size:100%;}
hr {height:0; color:#eee; border:1px solid #eee; margin:2em 0 1em;}

.normal {font-weight:normal;}
.quiet {color:#999;}
.pull-left {float:left; margin:0.5em 2em 1em 0;}
.pull-right {float:right; margin:0.5em 0 1em 2em;}


